[Unit]
Description=OpenStack Neutron Linux Bridge Agent
After=syslog.target network.target

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-linuxbridge-agent --config-file /usr/share/neutron/neutron-dist.conf --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/linuxbridge/linuxbridge_conf.ini --log-file /var/log/neutron/linuxbridge-agent.log
PrivateTmp=true
KillMode=process

[Install]
WantedBy=multi-user.target
