[Unit]
Description=OpenStack Neutron Cisco Configuration Agent
After=syslog.target network.target

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-cisco-cfg-agent --config-file /usr/share/neutron/neutron-dist.conf --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/cisco_cfg_agent.ini --log-file /var/log/neutron/cisco-cfg-agent.log
PrivateTmp=false
KillMode=process

[Install]
WantedBy=multi-user.target
