[Unit]
Description=OpenStack Neutron Load Balancing as a Service Agent
After=syslog.target network.target

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-lbaas-agent --config-file /usr/share/neutron/neutron-dist.conf --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/lbaas_agent.ini --log-file /var/log/neutron/lbaas-agent.log
PrivateTmp=false
KillMode=process

[Install]
WantedBy=multi-user.target
